{% extends 'messenger/base.html' %}
{% load staticfiles %}

{% block head %}
  <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <script src="{% static 'js/messages.js' %}"></script>
  <script src="{% static 'js/jquery.typeahead.bundle.js' %}"></script>
{% endblock head %}
{% block main %}
  <div class="page-header" >

    <a href="{% url 'new_message' %}" class="btn btn-primary pull-right">New message</a>

    <h1>{% block page_header %}{% endblock %}</h1>
  </div>
  <div class="row" style="margin-top: 1em">
    <div class="col-md-3">
      {% include 'messenger/includes/partial_conversations.html' with conversations=conversations active=active %}
    </div>
    <div class="col-md-6">
      {% block container %}
      {% endblock container %}
    </div>

    <style>
    #list-of-selected-products {
      height:450px;
      overflow:hidden;
      overflow-y:scroll;
    }
    </style>

    <div class="col-md-3">
      Click on product to add it to the conversation:<br>
      <input type="text" id="choose-list-search" style="width:100%;">
      <br>
      <div class="list-group" id="list-of-selected-products">
        {% for product , img in products %}
          <a class="list-group-item product" product-id="{{product.id}}" product-name="{{product.name}}" style="">
            <img src="/media/{{ img.img }}" class="conversation-portrait">
            {{product.name}}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock main %}
