{% include 'partials/header.html' %}

{% load static %}
<center style="margin-bottom:20px;margin-top:30px;">
    <a class="btn" href="/discounts/new/"><h5>Creer une nouvelle promotion</h5></a>
</center>
<center>
<table style="margin-top:50px;">
    {% for discount in discounts %}
      <tr style="border: 1px solid black;">
      {% if discount.discount_type == "P" %}
        <td>
          <div style="width:70px;height:70px;line-height:70px;overflow:hidden;background-color:grey;">
            {% if discount.product.image %}
            <img src="/media/{{discount.product.image}}" style="width:70px;" />
            {% else %}
            <img src="/media/default.jpg" sstyle="width:70px;" />
            {% endif %}
          </div>
        </td>
        <td style="width:70px;">
          <h4><center><strong>{{discount.percentage}}%</strong></center></h4>
        </td>
        <td style="width:70px;">
          <h4><center><strong>Active</strong></center></h4>
        </td>
        <td style="width:250px;">
          <h5><center><strong>{{discount.start}}</strong></center></h5>
        </td>
        <td style="width:250px;">
          <h5><center><strong>{{discount.end}}</strong></center></h5>
        </td>
        <td style="width:100px;">
          <h4><center><strong>Annuler</strong></center></h4>
        </td>
        <td style="width:100px;">
          <h4><center><strong>Modifier</strong></center></h4>
        </td>
        <td style="width:100px;">
          <h4><center><strong>Supprimer</strong></center></h4>
        </td>
      {% else %}
      <td >
        <div style="width:70px;height:70px;line-height:70px;overflow:hidden;background-color:grey;">
          {% if discount.collection.image %}
          <img src="/media/{{discount.collection.image}}" style="width:70px;" />
          {% else %}
          <img src="/media/default.jpg" style="width:70px;" />
          {% endif %}
        </div>
      </td>
      <td style="width:70px;">
        <h4><center><strong>{{discount.percentage}}%</strong></center></h4>
      </td>
      <td style="width:70px;">
        <h4><center><strong>Active</strong></center></h4>
      </td>
      <td style="width:250px;">
        <h5><center><strong>{{discount.start}}</strong></center></h5>
      </td>
      <td style="width:250px;">
        <h5><center><strong>{{discount.end}}</strong></center></h5>
      </td>
      <td style="width:100px;">
        <h4><center><strong>Annuler</strong></center></h4>
      </td>
      <td style="width:100px;">
        <h4><center><strong>Modifier</strong></center></h4>
      </td>
      <td style="width:100px;">
        <h4><center><strong>Supprimer</strong></center></h4>
      </td>
      {% endif %}
      </tr>
    {% endfor %}
</table>
</center>
{% include 'partials/footer.html' %}
