{% include 'partials/header.html' %}

{% load static %}
<center style="margin-top:30px;">
  <h4 style="margin-top:25px;">
    <a class="btn" href="/collections/newCollection/">Creer une nouvelle collection</a>
  </h4>
</center>

<div class="row">
<div class="span12" style="margin-top:50px;margin-left:90px;">
  {% for collection in collections %}
    <div class="span3" style="height:330px;margin-left:20px; margin-bottom:20px;border : 1px solid rgb(220,220,220) ;">
        <div style="overflow:hidden;width:100%;line-height:220px;height:220px;background-color:rgb(170,170,170);">
          {% if collection.image %}
          <img src="/media/{{collection.image}}" style="width:100%; vertical-align:middle;" alt="" />
          {% else %}
          <img src="/media/default.jpg" style="width:100%; vertical-align:middle;" alt="" />
          {% endif %}
        </div>
        <center>
          <h5>{{collection.name}}</h5>
          <h6>{{collection.description}}</h6>
        </center>
        <center>
          <a href="/collections/view/{{collection.id}}/" class="btn" >View</a>
          <a href="/collections/edit/{{collection.id}}/" class="btn" >Edit</a>
        </center>
    </div>
  {% endfor %}
</div>
</div>

{% include 'partials/footer.html' %}
