{% include 'partials/header.html' %}

{% load static %}

<style>
#list-of-selected-products {
  height:450px;
  overflow:hidden;
  overflow-y:scroll;
}
</style>
<style type="text/css">
.box {
width: 80%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 35px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}
.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 35%;
position: relative;
transition: all 1s ease-in-out;
}
.popup h2 {
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
max-height: 30%;
overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor:pointer;
}

.list-group-item a {
  text-decoration:none;
}
.list-group-item:hover{
  background-color: rgb(245,245,245);
}
.list-group-item.active {
  background-color:   #337ab7;
}
</style>
<div class="col-md-3">
<div id="popup1" class="overlay">
  <div class="popup">
    <h4>Ajouter des produits a votre collection.</h4>
    <a class="close" href="#">&times;</a>

    <input type="text" id="choose-list-search" style="width:97%;">
    <div class="list-group" id="list-of-selected-products">
      {% for product in products %}
        {% if product in collectionProducts %}
          <a class="list-group-item product active" product-id="{{product.id}}" product-name="{{product.name}}" style="text-decoration:none;">
        {% else %}
          <a class="list-group-item product" product-id="{{product.id}}" product-name="{{product.name}}" style="text-decoration:none;">
        {% endif %}
          <img src="/media/{{ product.get_image.img }}" class="conversation-portrait">
          {{product.name}}
        </a>
      {% endfor %}
    </div>

</div>
</div>
</div>


<div class="row">

    <div class="span12" style="border : 1px solid rgb(220,220,220) ; height:560px;margin-left:100px;background-color:rgb(240,240,240);margin-top:50px;margin-bottom:50px;">
      <h4 style="margin-left:30px; margin-bottom:20px;">Creer une nouvelle collection:</h4>
      <div class="span7" style="border : 1px solid rgb(220,220,220) ; height:490px; margin-left:30px; background-color:rgb(250,250,250);">
        <form id="form" method="post" action="{% url 'newCollection' %}" style="margin-left:20px;margin-top:20px;" enctype="multipart/form-data">
          {% csrf_token %}
          <h5>Nom</h5>
          <input type="text" style="width:618px;" name="collectionName" id="nameId" value={{collection.name}}><br>
          <h5>Description</h5>
          <input type="text" style="width:618px; height:120px;" name="collectionDesc" id="descId" value="{{collection.description}}"><br>
          <input type="file" name="collectionImageInput" id="collectionImageInput" style="display:none;">

          <div style="margin-top:8px;">
            <a class="btn" href="#popup1">Produits</a>
          </div>
          <div style="height:100px; border : 1px solid rgb(220,220,220) ; width:630px; margin-top:15px;">
          </div>
          <center>
            <button id="preSubmitButton" style="margin-top:15px;">
              <strong>Creer</strong>
            </button>
          </center>
        </form>
      </div>
      <div class="span4" style="border : 1px solid rgb(220,220,220) ; height:490px; margin-left:30px; background-color:rgb(250,250,250);">
        <center>
          <h4 style="margin-bottom:20px;">L'image de la collection:</h4>

          <div style="width:270px;height:150px; overflow:hidden;border : 1px solid rgb(220,220,220) ;">
            {% if collection.image %}
            <img id="previewImage" src="/media/{{collection.image}}" style=" width:100%;">
            {% else %}
            <img id="previewImage" src="/media/default.jpg" style=" width:100%;">
            {% endif %}
          </div>

          <button id="uploadCollectionImage" style="margin-top:50px;" class="btn">Ajouter</button>
        </center>
      </div>
    </div>

</div>

<script src="{% static 'js/collections.js' %}"></script>

{% include 'partials/footer.html' %}
