{% include 'partials/header.html' %}

{% load static %}

<div id="mainBody">
	<div class="container">
	<div class="row">

		<!-- Sidebar ================================================== -->
		<!-- Sidebar ================================================== -->
		{% load static %}

		<div id="sidebar" class="span3">
				<div class="well well-small"><strong>Recherche Par Categorie:</strong></div>
				<ul id="sideManu" class="nav nav-tabs nav-stacked">
					{% if idC == "1" %}
					<li ><a href="/shop/discover/1/1" style="color:blue;">Vetement et accessoires [ {{nC1}} ]</a></li>
					{% else %}
					<li ><a href="/shop/discover/1/1">Vetement et accessoires [ {{nC1}} ]</a></li>
					{% endif %}

					{% if idC == "2" %}
					<li ><a href="/shop/discover/2/1" style="color:blue;">Bijoux [ {{nC2}} ]</a></li>
					{% else %}
					<li ><a href="/shop/discover/2/1">Bijoux [ {{nC2}} ]</a></li>
					{% endif %}

					{% if idC == "3" %}
					<li ><a href="/shop/discover/3/1" style="color:blue;">Founiture creatives [ {{nC3}} ]</a></li>
					{% else %}
					<li ><a href="/shop/discover/3/1">Founiture creatives [ {{nC3}} ]</a></li>
					{% endif %}

					{% if idC == "4" %}
					<li ><a href="/shop/discover/4/1" style="color:blue;">Mariages [ {{nC4}} ]</a></li>
					{% else %}
					<li ><a href="/shop/discover/4/1">Mariages [ {{nC4}} ]</a></li>
					{% endif %}

					{% if idC == "5" %}
					<li ><a href="/shop/discover/5/1" style="color:blue;">Maison [ {{nC5}} ]</a></li>
					{% else %}
					<li ><a href="/shop/discover/5/1">Maison [ {{nC5}} ]</a></li>
					{% endif %}

					{% if idC == "6" %}
					<li ><a href="/shop/discover/6/1" style="color:blue;">Enfant et bebe [ {{nC6}} ]</a></li>
					{% else %}
					<li ><a href="/shop/discover/6/1">Enfant et bebe [ {{nC6}} ]</a></li>
					{% endif %}

				</ul>
				<br/>
		<!-- Sidebar end=============================================== -->

		</div>
		<!-- Sidebar end=============================================== -->
<div class="span9">
	<h4>Produits:</h4>
			<ul class="thumbnails">

			{% for product , Pimg in values %}
						<li class="span3">
						<div class="thumbnail" style="height:230px;">
						<a  href="product_details.html">
							{% if Pimg %}
							<img src="/media/{{Pimg.img}}" style="width:120px;height:120px;" alt=""/>
							{% else %}
							<img src="/media/default.jpg" style="width:120px;height:120px;" alt=""/>
							{% endif %}
						</a>
						<div class="caption" style="bottom:0px; position: absolute; width:90%">
							<h5>{{product.store.name}}: {{product.name}}</h5>
							<!--
							<h5 style="margin-top:0;">is active : {{product.isActive}}</h5>
							-->
						 <center>
							<h4 style="text-align:center">
								{% if product.isActive == True %}
									<img src="{% static 'themes/images/active.png' %}" style="height:18px;" title="status">
								{% elif product.isActive == False %}
									<img src="{% static 'themes/images/notActive.png' %}" style="height:18px;" title="status">
								{% else %}
									<img src="{% static 'themes/images/notSure.png' %}" style="height:18px;" title="status">
								{% endif %}
								<a class="btn" href="/shop/product_details/{{product.id}}">VIEW</a>
								<a class="btn btn-primary">{{product.price}} Dt</a>
								<!--
								<a class="btn" href="/shop/editProduct/{{product.id}}"><img src="{% static 'themes/images/editProduct.png' %}" style="height:18px;" title="Edit Product"></a>
								-->
								<!--
								<a class="btn" href="/shop/deleteProduct/{{product.id}}"><img src="{% static 'themes/images/removeElement.png' %}" style="height:18px;" title="Delete Product"></a>
								-->
							</h4>
						 </center>
						</div>
						</div>
					</li>
			{% endfor %}

			</ul>
			<div class="paginate paginate-dark wrapper" style="margin-top:30px; margin-bottom:30px;">
					{% if nP > 0 %}
					<ul>
							 {% if page.has_previous %}
									<li><a href="/shop/discover/{{idC}}/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
								{% else %}
									<li><a>&lang;</a></li>
							 {% endif %}

							{% for id in idList %}
								{% if id == pageId %}
									<li><a class="active" >{{id}}</a></li>
								{% else %}
									<li><a href="/shop/discover/{{idC}}/{{id}}/{{filters}}">{{id}}</a></li>
								{% endif %}
							{% endfor %}

							{% if page.has_next  %}
									<li><a href="/shop/discover/{{idC}}/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
							{% else %}
									<li><a>&rang;</a></li>
							{% endif %}
					</ul>
					{% else %}
						<h4>Pas de produits dans cette catégorie!</h4>
					{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
{% include 'partials/footer.html' %}
