{% include 'partials/header.html' %}

{% load static %}

<center style="margin-top:25px;">
{% if img %}
		<img src="/media/{{ img.img }}" style="height:300px;">
{% else %}
		<img src="/media/default.jpg" style="height:300px;">
{% endif %}
</center>


<button onclick="myFunction()" id="bshow">Changer l'image</button>

<div id="myDIV" style="display:none;">
<form action="{% url 'addStoreImage' id=store.id %}" method="post" enctype="multipart/form-data" style="float:left;">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
</form>
</div>


	<a href="/shop/editStore/{{store.id}}" style="float:right;text-decoration:none;">
		<button>
			Editer La Boutique
		</button>
	</a>



<br/>
<br/>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6331.401249637446!2d10.186475337597457!3d36.891382265943776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2stn!4v1499121985443" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen>
</iframe>

<br/>
<br/>
<script>
function myFunction() {
    var x = document.getElementById('myDIV');
		var y = document.getElementById('bshow');
    if (x.style.display === 'none') {
        x.style.display = 'block';
				y.style.display = 'none';
    } else {
        x.style.display = 'none';
    }
}
</script>

{% if user.id == store.user.id %}

<center style="margin-top:10px; margin-bottom:10px;">
	<h4><a class="btn" href="/shop/product_create/{{store.id}}">Add Product</a></h4>
</center>
<br>
{% else %}
<br><br>


{% endif %}


<div id="mainBody">
	<div class="container">
	<div class="row">

<!-- Sidebar ================================================== -->
{% include 'partials/sidebar.html' %}
<div class="well well-small" style="margin-top:20px;margin-bottom:25px;">
	<h5><strong>Name: </strong>{{store.name}}</h5>
	<h5><strong>Phone Number: </strong>{{store.phoneNumber}}</h5>
	<h5><strong>Facebook Page: </strong>{{store.facebookPage}}</h5>
	<h5><strong>Description: </strong><br/>{{store.description}}</h5>
</div>
{% include 'partials/filters.html' %}
</div>
<!-- Sidebar end=============================================== -->
<script  language="JavaScript" type="text/javascript">
	function confirmDeletion(id){
		var ans = confirm("Are you sure that you want to delete this Product!!")
		if(ans == true){
			window.location = "/shop/deleteProduct/"+id;
		}
	}
</script>
	<div class="span9">
		<h4>Products:</h4>
		<!-- products list -->
		<div class="span9" style="margin-bottom:80px;">
			{% for product , Pimg in values %}
			<div style="height:82px;width:100%;">
						<div class="span2" style="height:82px; width:100px;border: 1px solid grey;">
							{% if Pimg %}
								<img src="/media/{{Pimg.img}}" style="height:100%;display: block; margin-left: auto;margin-right: auto;" >
							{% else %}
								<img src="/media/default.jpg" style="height:100%;display: block; margin-left: auto;margin-right: auto;" >
							{% endif %}
						</div>
						<div class="span2">
							<h4>
								<a href="/shop/product_details/{{product.id}}" style="text-decoration:none; color: 	#1E90FF;">{{product.name}}</a>
							</br>{{product.price}} Dt
							</h4>
						</div>
						<div class="span1">
							<center>
							<a class="btn" onclick="confirmDeletion({{product.id}})"><img src="{% static 'themes/images/removeElement.png' %}" style="height:18px;" title="Delete Product"></a>
							supprimer
							</center>
						</div>
						<div class="span1">
							<center>
							<a class="btn" href="/shop/duplicateProduct/{{product.id}}"><img src="{% static 'themes/images/duplicate.png' %}" style="height:18px;" title="Duplicate Product"></a>
							dupliquer
							</center>
						</div>
						<div class="span1">
							<center>
							<a class="btn" href="/shop/editProduct/{{product.id}}" >
								<img src="{% static 'themes/images/editProduct.png' %}" style="height:18px;" title="Edit Product">
							</a>
							modifier
							</center>
						</div>
						<div class="span1">
							<center>
							<a class="btn" href="/shop/product_details/{{product.id}}"> <i class="icon-zoom-in" style="height:18px;" ></i>
							</a><br/>
							voir
							</center>
						</div>
			</div>
			<hr/>
			{% endfor %}
		</div>
		<!-- end products list -->


				<!--
			  <ul class="thumbnails">

				{% for product , Pimg in values %}
							<li class="span3">
						  <div class="thumbnail" style="height:230px;">
							<a  href="product_details.html">
							{% if Pimg %}
							<img src="/media/{{Pimg.img}}" style="width:120px;height:120px;" alt=""/>
							{% else %}
							<img src="/media/default.jpg" style="width:120px;height:120px;" alt=""/>
							{% endif %}
							</a>
							<div class="caption" style="bottom:0px; position: absolute; width:90%">
							  <h5>{{product.name}}</h5>
							 <center>
							  <h4 style="text-align:center">
									{% if product.isActive == True %}
										<img src="{% static 'themes/images/active.png' %}" style="height:18px;" title="status">
									{% elif product.isActive == False %}
										<img src="{% static 'themes/images/notActive.png' %}" style="height:18px;" title="status">
									{% else %}
										<img src="{% static 'themes/images/notSure.png' %}" style="height:18px;" title="status">
									{% endif %}
									<a class="btn" href="/shop/product_details/{{product.id}}">VIEW</a>
									<a class="btn btn-primary" href="">{{product.price}} Dt</a>
								</h4>
							 </center>
							</div>
						  </div>
						</li>
				{% endfor %}
			-->
			  </ul>

				<div class="paginate paginate-dark wrapper" style="margin-top:30px; margin-bottom:30px;">
						{% if nP > 0 %}
						<ul>
								 {% if page.has_previous %}
										<li><a href="/shop/details/{{idS}}/page={{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
									{% else %}
										<li><a>&lang;</a></li>
								 {% endif %}

								{% for id in idList %}
									{% if id == pageId %}
										<li><a class="active" >{{id}}</a></li>
									{% else %}
										<li><a href="/shop/details/{{idS}}/page={{id}}/{{filters}}">{{id}}</a></li>
									{% endif %}
								{% endfor %}

								{% if page.has_next  %}
										<li><a href="/shop/details/{{idS}}/page={{page.next_page_number}}/{{filters}}">&rang;</a></li>
								{% else %}
										<li><a>&rang;</a></li>
								{% endif %}
						</ul>
						{% else %}
							<h4>Pas de produits dans cette catégorie!</h4>
						{% endif %}
				</div>



			</div>

		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
