{% include 'partials/header.html' %}

{% load static %}

<div id="mainBody">
	<div class="container">
	<div class="row">

<!-- Sidebar ================================================== -->
{% include 'partials/sidebar.html' %}
{% include 'partials/filters.html' %}
</div>
<!-- Sidebar end=============================================== -->


	<div class="span9" >
		<h4 style="float:left;">Products:</h4>
	</div>
	<div class="span9">

				<ul class="thumbnails">

				{% for product , Pimg , liked in values %}
							<li class="span3" product-id="{{ product.id }}" csrf="{{ csrf_token }}" >
							<div class="thumbnail" style="height:300px;">
							<a  style="height:210px; overflow:hidden;">
								{% if Pimg %}
									<img src="/media/{{Pimg.img}}" style="width:100%;" alt=""/>
								{% else %}
									<img src="/media/default.jpg" style="width:120px;height:120px;" alt=""/>
								{% endif %}
							</a>
							<div class="caption" style="bottom:0px; position: absolute; width:90%">
								<h5>{{product.store.name}}: {{product.name}}</h5>
								<!--
								<h5 style="margin-top:0;">is active : {{product.isActive}}</h5>
								-->
							 <center>
								<h4 style="text-align:center">

									{% if liked == True %}
									<a href="#"  class="like unlike" style="font-size:15px;text-decoration:none;">
										<span class="text">Unlike</span>
									</a>
									{% else %}
									<a href="#"  class="like" style="font-size:15px;text-decoration:none;">
										<span class="text">Like</span>
									</a>
									{% endif %}

									<span style="font-size:12px;" class="like-count">{{ product.likes.count }}</span>
									{% if product.isActive == True %}
										<img src="{% static 'themes/images/active.png' %}" style="height:18px;" title="status">
									{% elif product.isActive == False %}
										<img src="{% static 'themes/images/notActive.png' %}" style="height:18px;" title="status">
									{% else %}
										<img src="{% static 'themes/images/notSure.png' %}" style="height:18px;" title="status">
									{% endif %}
									<a class="btn" href="/shop/product_details/{{product.id}}">VIEW</a>
									<a class="btn btn-primary">{{product.price}} Dt</a>
								</h4>
							 </center>
							</div>
							</div>
						</li>
				{% endfor %}

				</ul>
        <div class="paginate paginate-dark wrapper" style="margin-top:30px; margin-bottom:30px;">
            <ul>
                 {% if page.has_previous %}
										{% if idC %}
											<li><a href="/shop/discover/{{idC}}/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
										{% else %}
											<li><a href="/shop/discover/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
										{% endif %}
                  {% else %}
                    <li><a>&lang;</a></li>
                 {% endif %}

                {% for id in idList %}
                  {% if id == pageId %}
                    <li><a class="active" >{{id}}</a></li>
                  {% else %}
										{% if idC %}
											<li><a href="/shop/discover/{{idC}}/{{id}}/{{filters}}">{{id}}</a></li>
										{% else %}
											<li><a href="/shop/discover/{{id}}/{{filters}}">{{id}}</a></li>
										{% endif %}
                  {% endif %}
                {% endfor %}

                {% if page.has_next  %}
										{% if idC %}
											<li><a href="/shop/discover/{{idC}}/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
										{% else %}
											<li><a href="/shop/discover/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
										{% endif %}
                {% else %}
                    <li><a>&rang;</a></li>
                {% endif %}
            </ul>
        </div>

			</div>

		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
