{% include 'partials/header.html' %}

{% load static %}

<div id="mainBody">
	{% if img %}
		<div style="width:100%;height:200px;">
			<center>
				<img src="/media/{{img.img}}" style="height:200px;"/>
			</center>
		</div>
		<hr>
	{% endif %}
	<div class="container">
	<div class="row">

<!-- Sidebar ================================================== -->
{% include 'partials/sidebar.html' %}
{% include 'partials/filters.html' %}
</div>
<!-- Sidebar end=============================================== -->
	
	<div class="span9" >

		<h4 style="float:left;">Products:</h4>
		<style>
			.glyphicon{
				position:relative;
				top:1px;
				display:inline-block;
				font-family:'Glyphicons Halflings';
				font-style:normal;
				font-weight:400;
				line-height:1;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale
			}
			.glyphicon-bell:before{
				content:"\e123"
			}

		</style>
<script type="text/javascript">
	function share(id){
		var left = (screen.width/2)-300
		var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=127.0.0.1:8000/shop/product_details/"+ id +"/" , "pop", "width=600, height=400, scrollbars=no,left=" + left + "");
	}
</script>

	</div>
	<div class="span9">

				<ul class="thumbnails">

				{% for product , Pimg , normal , smile , love , wish , sum in values %}
							<li class="span3" product-id="{{ product.id }}" csrf="{{ csrf_token }}" discounts="{{product.get_discount.percentage}}" >
							<div class="thumbnail" style="height:355px;position:relative;">
							{% if product.get_discount %}
							<div id="discountDiv" style="width:100%;height:40px;z-index: 1;margin-top:5px;position: absolute;">
								<div style="float:right;background-color:rgb(255,140,0,0.7);width:70px;height:100%;margin-right:8px;">
									<h5>{{product.get_discount.percentage}}% OFF</h5>
								</div>
								{% if product.get_discount.length_type == "F" %}
								<div style="float:right;background-color:rgb(255,140,0,0.7);width:70px;height:100%;margin-right:5px;">
									<h5>Flash</h5>
								</div>
								<div id="timeLeftDiv" style="float:right;background-color:rgb(255,140,0,0.7);width:70px;height:100%;margin-right:5px;">
									<h5 id="timeLeft" secondsLeft="{{product.get_discount.secondsLeft}}">time left</h5>
								</div>
								{% endif %}
							</div>
							{% endif %}
							<a  style="height:210px; overflow:hidden;margin-top:5px;z-index: 1;" href="/shop/product_details/{{product.id}}">
								{% if Pimg %}
									<img src="/media/{{product.get_image.img}}" style="width:100%;" alt=""/>
								{% else %}
									<img src="/media/default.jpg" style="width:120px;height:120px;" alt=""/>
								{% endif %}
							</a>
							<div class="caption" style="bottom:0px; position: absolute; width:90%">
								<h5>{{product.table.name}}: {{product.name}}</h5>
								<center>
									<div style="height:27px;width:70px;">
											{% if product in wishedProducts %}
												<div style="cursor:pointer;text-decoration:none;float:left;" class="addProductToWishList active" >
											{% else %}
												<div style="cursor:pointer;text-decoration:none;float:left;" class="addProductToWishList" >
											{% endif %}
											</div>
												<div class="facebookShareLink" onclick="share({{product.id}});return false;" style="cursor:pointer;text-decoration:none;margin-left:20px;float:right;" title="partager"       >
													<img src="{% static 'themes/images/share.png' %}" style="height:20px;" />
												</div>
									</div>
								</center>
							 <!-- start like block -->
							 	<h4 style="text-align:center;">
									<span class="like-btn" style="font-size:14px; text-align:left;text-decoration:none;" product-id="{{product.id}}" csrf="{{ csrf_token }}"> <!-- Default like button -->
										{% if normal %}
											<span class="like-btn-emo like-btn-normal"></span> <!-- Default like button emotion-->
											<span class="like-btn-text like-btn-text-normal active">Normal</span> <!-- Default like button text,(Like, wow, sad..) default:Like  -->
										{% elif smile %}
											<span class="like-btn-emo like-btn-smile"></span> <!-- Default like button emotion-->
											<span class="like-btn-text like-btn-text-smile active">Smile</span> <!-- Default like button text,(Like, wow, sad..) default:Like  -->
										{% elif love %}
											<span class="like-btn-emo like-btn-love"></span> <!-- Default like button emotion-->
											<span class="like-btn-text like-btn-text-love active">Love</span> <!-- Default like button text,(Like, wow, sad..) default:Like  -->
										{% elif wish %}
											<span class="like-btn-emo like-btn-wish"></span> <!-- Default like button emotion-->
											<span class="like-btn-text like-btn-text-wish active">Wish</span> <!-- Default like button text,(Like, wow, sad..) default:Like  -->
										{% else %}
											<span class="like-btn-emo like-btn-default"></span> <!-- Default like button emotion-->
											<span class="like-btn-text">Like</span> <!-- Default like button text,(Like, wow, sad..) default:Like  -->
										{% endif %}
											<ul class="reactions-box"> <!-- Reaction buttons container-->
												<li class="reaction reaction-normal" data-reaction="Normal"></li>
												<li class="reaction reaction-smile" data-reaction="Smile"></li>
												<li class="reaction reaction-love" data-reaction="Love"></li>
												<li class="reaction reaction-wish" data-reaction="Wish"></li>
											</ul>
											<span style="font-size:12px;margin-right:5px;" class="like-count">{{sum}}</span>
									</span>
									<div style="float: right;">
										<a class="btn" href="/shop/product_details/{{product.id}}">VIEW</a>
										<a class="btn btn-primary">{{product.price}} Dt</a>
									</div>
								</h4>
							</div>
							</div>
						</li>
				{% endfor %}

				</ul>
				{% if flag %}
				<div class="paginate paginate-dark wrapper" style="margin-top:30px; margin-bottom:30px;">
            <ul>
                 {% if page.has_previous %}
										{% if idC %}
											<li><a href="/shop/view/{{table.id}}/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
										{% else %}
											<li><a href="/shop/view/{{table.id}}/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
										{% endif %}
                  {% else %}
                    <li><a>&lang;</a></li>
                 {% endif %}

                {% for id in idList %}
                  {% if id == pageId %}
                    <li><a class="active" >{{id}}</a></li>
                  {% else %}
										{% if idC %}
											<li><a href="/shop/view/{{table.id}}/{{id}}/{{filters}}">{{id}}</a></li>
										{% else %}
											<li><a href="/shop/view/{{table.id}}/{{id}}/{{filters}}">{{id}}</a></li>
										{% endif %}
                  {% endif %}
                {% endfor %}

                {% if page.has_next  %}
										{% if idC %}
											<li><a href="/shop/view/{{table.id}}/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
										{% else %}
											<li><a href="/shop/view/{{table.id}}/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
										{% endif %}
                {% else %}
                    <li><a>&rang;</a></li>
                {% endif %}
            </ul>
        </div>
				{% else %}
				<div class="paginate paginate-dark wrapper" style="margin-top:30px; margin-bottom:30px;">
            <ul>
                 {% if page.has_previous %}
										{% if idC %}
											<li><a href="/discover/{{idC}}/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
										{% else %}
											<li><a href="/discover/{{page.previous_page_number}}/{{filters}}" >&lang;</a></li>
										{% endif %}
                  {% else %}
                    <li><a>&lang;</a></li>
                 {% endif %}

                {% for id in idList %}
                  {% if id == pageId %}
                    <li><a class="active" >{{id}}</a></li>
                  {% else %}
										{% if idC %}
											<li><a href="/discover/{{idC}}/{{id}}/{{filters}}">{{id}}</a></li>
										{% else %}
											<li><a href="/discover/{{id}}/{{filters}}">{{id}}</a></li>
										{% endif %}
                  {% endif %}
                {% endfor %}

                {% if page.has_next  %}
										{% if idC %}
											<li><a href="/discover/{{idC}}/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
										{% else %}
											<li><a href="/discover/{{page.next_page_number}}/{{filters}}">&rang;</a></li>
										{% endif %}
                {% else %}
                    <li><a>&rang;</a></li>
                {% endif %}
            </ul>
        </div>
				{% endif %}


			</div>

		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
