{% include 'partials/header.html' %}
{% load static %}
<div id="mainBody">
	<div class="container">
	<div class="row">

<!-- Sidebar ================================================== -->
{% load static %}

<div id="sidebar" class="span3">
		<div class="well well-small"><strong>Recherche Par Categorie:</strong></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			{% if idC == "1" %}
			<li ><a href="/shop/discover/1/1/" style="color:blue;">Vetement et accessoires [ {{nC1}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discover/1/1/">Vetement et accessoires [ {{nC1}} ]</a></li>
			{% endif %}

			{% if idC == "2" %}
			<li ><a href="/shop/discover/2/1/" style="color:blue;">Bijoux [ {{nC2}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discover/2/1/">Bijoux [ {{nC2}} ]</a></li>
			{% endif %}

			{% if idC == "3" %}
			<li ><a href="/shop/discover/3/1/" style="color:blue;">Founiture creatives [ {{nC3}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discover/3/1/">Founiture creatives [ {{nC3}} ]</a></li>
			{% endif %}

			{% if idC == "4" %}
			<li ><a href="/shop/discover/4/1/" style="color:blue;">Mariages [ {{nC4}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discover/4/1/">Mariages [ {{nC4}} ]</a></li>
			{% endif %}

			{% if idC == "5" %}
			<li ><a href="/shop/discover/5/1/" style="color:blue;">Maison [ {{nC5}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discover/5/1/">Maison [ {{nC5}} ]</a></li>
			{% endif %}

			{% if idC == "6" %}
			<li ><a href="/shop/discover/6/1/" style="color:blue;">Enfant et bebe [ {{nC6}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discover/6/1/">Enfant et bebe [ {{nC6}} ]</a></li>
			{% endif %}

		</ul>
		<br/>

</div>
<!-- Sidebar end=============================================== -->
<script>
function myFunction() {
    var x = document.getElementById('myDIV');
		var y = document.getElementById('bshow');
    if (x.style.display === 'none') {
        x.style.display = 'block';
				y.style.display = 'none';
    } else {
        x.style.display = 'none';
    }
}
function Edit() {
    var x = document.getElementById('editForm');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}

</script>
    <div class="span9" style=" maring-right:0px;	">

			<div class="span6">
				{% if img %}
				<img src="/media/{{img.img}}" style="border: 1px solid black; maring:0; width:100%"/>
				{% else %}
				<img src="/media/default.jpg" style="border: 1px solid black; maring:0; width:100%"/>
				{% endif %}

				{% if product.store.user == user %}

				<button onclick="myFunction()" id="bshow">Changer l'image</button>
				<div id="myDIV" style="display:none;">
				<form action="{% url 'addProductMainImage' id=product.id %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Submit">
				</form>
				</div>
				<a class="btn" href="/shop/editProduct/{{product.id}}" style="float:right;">modifier</a>
				<br/>
				<br/>

				{% endif %}
			</div>

			<div class="span2" style="maring-left:0px; width:200px;">
				<div class="well well-small" >
					<h5><strong>Name: </strong>{{product.name}}</h5>
					<h5><strong>Price: </strong>{{product.price}}</h5>
					<h5><strong>Quantity: </strong>{{product.quantity}}</h5>
					<h5><strong>Store: </strong>{{product.store.name}}</h5>
					<h5><strong>Categorie: </strong>{{product.categorie}}</h5>
					{% if product.Ptype == 1 %}
						<h5><strong>Type: </strong>Faits main</h5>
					{% else %}
						<h5><strong>Type: </strong>Vintage</h5>
					{% endif %}
					<h5><strong>Description: </strong><br/>{{product.description}}</h5>
				</div>
				<a class="btn" href="/shop/album/{{product.id}}">Modifier Album</a> 
      </div>
  </div>
</div>
</div>


{% include 'partials/footer.html' %}
