{% include 'partials/header.html' %}

<div id="mainBody">
	<div class="container">
	<div class="row">

<!-- Sidebar ================================================== -->
{% include 'partials/sidebar.html' %}
<!-- Sidebar end=============================================== -->

    <div class="span9" style=" maring:0">
      <div class="span5" style="border: 2px solid black; maring:0;">
        <img src="{{product.img.url}}" />
      </div>
      <div class="span3" style="display: table;">
        <img src="{{product.img1.url}}" style="height:70px;display: table-cell; border: 2px solid black;">
        <img src="{{product.img2.url}}" style="height:70px;display: table-cell; border: 2px solid black;">
        <img src="{{product.img3.url}}" style="height:70px;display: table-cell; border: 2px solid black;">
      </div>
    </div>

    <div class="span9" style="margin-top:50px;">
      <div class="span5" style="maring:0;">
        <h4>Description:</h4><br>
        <h4>{{product.description}}</h4>
      </div>
    </div>

  </div>
</div>
</div>


{% include 'partials/footer.html' %}
