{% include 'partials/header.html' %}

{% load static %}

<div id="mainBody">
	<div class="container">
	<div class="row">

<!-- Sidebar ================================================== -->
<!-- Sidebar ================================================== -->
{% load static %}

<div id="sidebar" class="span3">
	<div class="well well-small"><strong>Recherche Par Categorie:</strong></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">

			{% if idC == "1" %}
			<li ><a id="link1" href="#" style="color:blue;">Vetement et accessoires [ {{nC1}} ]</a></li>
			{% else %}
			<li ><a id="link1" href="#" >Vetement et accessoires [ {{nC1}} ]</a></li>
			{% endif %}

			{% if idC == "2" %}
			<li ><a id="link2" href="#" style="color:blue;">Bijoux [ {{nC2}} ]</a></li>
			{% else %}
			<li ><a id="link2" href="#" >Bijoux [ {{nC2}} ]</a></li>
			{% endif %}

			{% if idC == "3" %}
			<li ><a id="link3" href="#" style="color:blue;">Founiture creatives [ {{nC3}} ]</a></li>
			{% else %}
			<li ><a id="link3" href="#">Founiture creatives [ {{nC3}} ]</a></li>
			{% endif %}

			{% if idC == "4" %}
			<li ><a id="link4" href="#" style="color:blue;">Mariages [ {{nC4}} ]</a></li>
			{% else %}
			<li ><a id="link4" href="#" >Mariages [ {{nC4}} ]</a></li>
			{% endif %}

			{% if idC == "5" %}
			<li ><a id="link5" href="#" style="color:blue;">Maison [ {{nC5}} ]</a></li>
			{% else %}
			<li ><a id="link5" href="#" >Maison [ {{nC5}} ]</a></li>
			{% endif %}

			{% if idC == "6" %}
			<li ><a id="link6" href="#" style="color:blue;">Enfant et bebe [ {{nC6}} ]</a></li>
			{% else %}
			<li ><a id="link6" href="#" >Enfant et bebe [ {{nC6}} ]</a></li>
			{% endif %}

		</ul>
		<br/>
{% include 'partials/filters.html' %}
</div>
<script type="text/javascript">
		url = document.getElementById("link1").href;

		newUrl1 = "/shop/search/{{filters}}&q={{input}}&categorie=Vetement+et+accessoires" ;
		newUrl2 = "/shop/search/{{filters}}&q={{input}}&categorie=Bijoux" ;
		newUrl3 = "/shop/search/{{filters}}&q={{input}}&categorie=Founiture+creatives" ;
		newUrl4 = "/shop/search/{{filters}}&q={{input}}&categorie=Mariages" ;
		newUrl5 = "/shop/search/{{filters}}&q={{input}}&categorie=Maison" ;
		newUrl6 = "/shop/search/{{filters}}&q={{input}}&categorie=Enfant+et+bebe" ;
		document.getElementById("link1").setAttribute('href', newUrl1 );
		document.getElementById("link2").setAttribute('href', newUrl2 );
		document.getElementById("link3").setAttribute('href', newUrl3 );
		document.getElementById("link4").setAttribute('href', newUrl4 );
		document.getElementById("link5").setAttribute('href', newUrl5 );
		document.getElementById("link6").setAttribute('href', newUrl6 );

</script>
<!-- Sidebar end=============================================== -->

	<div class="span9" style="margin-bottom:80px;">
	<h5>{{n}} results found</h5>
		<div>
	  {% for product , score , img in result %}
		<div style="height:82px;">
					<div style="float:left;height:82px; width:100px;border: 1px solid grey;">
						<img src="/media/{{img.img}}" style="height:100%;display: block; margin-left: auto;margin-right: auto;" >
					</div>
					<div>
						<h4 style="margin-top:20px; margin-left:120px;">
							<a href="/shop/product_details/{{product.id}}" style="text-decoration:none; color: 	#1E90FF;">{{product.name}}</a>
						</br>{{product.price}} Dt
					</div>
						</h4>
		</div>
			<hr/>
		{% endfor %}
		</div>
	</div>
	</div>
  </div>
</div>

{% include 'partials/footer.html' %}
