<!-- Sidebar ================================================== -->
{% load static %}

<div id="sidebar" class="span3">
		<div class="well well-small"><strong>Recherche Par Categorie:</strong></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			{% if idC == "1" %}
			<li ><a href="/shop/discovermore/1/1/" style="color:grey; font-size:15px;">Vétement et accessoires [ {{nC1}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discovermore/1/1/">Vétement et accessoires [ {{nC1}} ]</a></li>
			{% endif %}

			{% if idC == "2" %}
			<li ><a href="/shop/discovermore/2/1/" style="color:grey; font-size:15px;">Bijoux [ {{nC2}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discovermore/2/1/">Bijoux [ {{nC2}} ]</a></li>
			{% endif %}

			{% if idC == "3" %}
			<li ><a href="/shop/discovermore/3/1/" style="color:grey; font-size:15px;">Founiture créatives [ {{nC3}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discovermore/3/1/">Founiture créatives [ {{nC3}} ]</a></li>
			{% endif %}

			{% if idC == "4" %}
			<li ><a href="/shop/discovermore/4/1/" style="color:grey; font-size:15px;">Mariages [ {{nC4}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discovermore/4/1/">Mariages [ {{nC4}} ]</a></li>
			{% endif %}

			{% if idC == "5" %}
			<li ><a href="/shop/discovermore/5/1/" style="color:grey; font-size:15px;">Maison [ {{nC5}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discovermore/5/1/">Maison [ {{nC5}} ]</a></li>
			{% endif %}

			{% if idC == "6" %}
			<li ><a href="/shop/discovermore/6/1/" style="color:grey; font-size:15px;">Enfant et bébé [ {{nC6}} ]</a></li>
			{% else %}
			<li ><a href="/shop/discovermore/6/1/">Enfant et bébé [ {{nC6}} ]</a></li>
			{% endif %}

		</ul>
		<br/>
<!-- Sidebar end=============================================== -->
