<!-- Sidebar ================================================== -->
{% load static %}

<div id="sidebar" class="span3" style="margin-left:5px;">
		
		
		<div class="well well-small"><strong>Recherche Par Categorie:</strong></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			{% if idC == "1" %}
			<li ><a href="/discover/1/1/" style="color:blue;">Vetement et accessoires [ {{nC1}} ]</a></li>
			{% else %}
			<li ><a href="/discover/1/1/">Vetement et accessoires [ {{nC1}} ]</a></li>
			{% endif %}

			{% if idC == "2" %}
			<li ><a href="/discover/2/1/" style="color:blue;">Bijoux [ {{nC2}} ]</a></li>
			{% else %}
			<li ><a href="/discover/2/1/">Bijoux [ {{nC2}} ]</a></li>
			{% endif %}

			{% if idC == "3" %}
			<li ><a href="/discover/3/1/" style="color:blue;">Founiture creatives [ {{nC3}} ]</a></li>
			{% else %}
			<li ><a href="/discover/3/1/">Founiture creatives [ {{nC3}} ]</a></li>
			{% endif %}

			{% if idC == "4" %}
			<li ><a href="/discover/4/1/" style="color:blue;">Mariages [ {{nC4}} ]</a></li>
			{% else %}
			<li ><a href="/discover/4/1/">Mariages [ {{nC4}} ]</a></li>
			{% endif %}

			{% if idC == "5" %}
			<li ><a href="/discover/5/1/" style="color:blue;">Maison [ {{nC5}} ]</a></li>
			{% else %}
			<li ><a href="/discover/5/1/">Maison [ {{nC5}} ]</a></li>
			{% endif %}

			{% if idC == "6" %}
			<li ><a href="/discover/6/1/" style="color:blue;">Enfant et bebe [ {{nC6}} ]</a></li>
			{% else %}
			<li ><a href="/discover/6/1/">Enfant et bebe [ {{nC6}} ]</a></li>
			{% endif %}

		</ul>
		<br/>

<!-- Sidebar end=============================================== -->
